<!DOCTYPE html>
<html >
<head>
    <link data-th-href="@{/css/Geral.css}" rel="stylesheet">
    <link rel="stylesheet"  data-th-href="@{/css/bootstrap/4.3.1/bootstrap.min.css}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <title>Keycloak</title>
</head>

<body>


<div class="container-fluid" >
    <div class="row ">
        <div class="col-md-12" >
            <div class="alert alert-primary" role="alert">
                This is a keyclok alert
            </div>
        </div>
    </div>
</div>
</body>

</html>